<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>Bespoke.js</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="stylesheet" type="text/css" href="themes.css" />
		<link href="http://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	</head>
	<body class="coverflow">
		<div id="main">
			<article>
				<section id='one'><h1>---></h1><img src='../src/occidentalis.png'></section>
				<section>
					<h1>Raspberry Pipeline..</h1>
					<h2>'This shit is technology-as'</h2>
				</section>
				<section id='three'><img src='../src/RaspiModelB.png'></section>
				<section></section>
				<section></section>
			</article>
		</div>

		<script src="../src/bespoke.js"></script>
		<script src="demo.js"></script>
	</body>
</html>