<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Raspberry-Pipeline</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="stylesheet" type="text/css" href="themes.css" />
		<link href='http://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	</head>
	<body class="coverflow">
		<div id="main">
			<article>


<section data-bespoke-state="pre-progress clean" class="font">
	<pre data-bespoke-bullet class="font">
		<code data-language="python" class"rainbow">
			from lib.base_message_interface import BaseMessageInterface

			class SimpleMessageTranslator:
			    def __init__(self):
			        self.base_message_interface = BaseMessageInterface()

		</code>
	</pre>
</section>

				<section></section>
				<section>
					<h1>Raspberry Pipeline</h1>
					<span class='line'>
						<span class='green'>.</span>
						<span class='green'>.</span>
						<span class='green'>.</span>
						<span class='blue'>.</span>
						<span class='blue'>.</span>
					</span>
					<span class='quote'>
						<span class='start'>“</span>
						<span class='content'>It's technology-as</span>
						<span class='end'>”</span>
					</span>
				</section>
				<section id='three'><img src='../src/RaspiModelB.png'></section>
				<section id='one'><h1>---></h1><img src='../src/occidentalis.png'></section>
				<section></section>
				<section></section>
			</article>
		</div>

		<script src="../src/bespoke.js"></script>
		<script src="../src/rainbow.min.js"></script>
		<script src="demo.js"></script>
	</body>
</html>