<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Raspberry-Pipeline</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="stylesheet" type="text/css" href="themes.css" />
		<link href='http://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	</head>
	<body class="coverflow">
		<div id="main">
			<article>

				<section>
					<h1>Raspberry Pipeline</h1>
					<span class='line'>
						<span class='green'>.</span>
						<span class='green'>.</span>
						<span class='green'>.</span>
						<span class='green'>.</span>
						<span class='green'>.</span>
						<span class='blue'>.</span>
						<span class='blue'>.</span>
						<span class='blue'>.</span>
					</span>
				</section>

				<section>
					<h1>Pipeline?</h1>
					<span class='quote'>
						<span class='start'>“</span>
						<span class='content'>It's a thing.. for sure</span>
						<span class='end'>”</span>
					</span>
				</section>

				<section id='r-pi'>
					<h1>Raspberry?</h1>
					<img src='../src/RaspiModelB.png'>
				</section>

				<section id='diagram'><img src='../src/r-pi-diagram.png'></section>
				
        <section id='yet-another' data-bespoke-state="pre-progress clean" class="font">
          <pre data-bespoke-bullet class="font">
            <code data-language="python" class"rainbow">
      class Strand:
          def __init__(self, leds=32, dev="/dev/spidev0.0"):
              self.spi = file(dev, "wb")
              self.gamma = bytearray(256)
              self.buffer = [0 for x in range(leds)]

          def update(self):
              for x in range(self.leds):
                self.spi.write(self.buffer[x])
              self.spi.flush()

          def set(self, pixel, r, g, b):
              self.buffer[pixel][0] = self.gamma[int(g)]
              ...
              self.update()
    </code>
          </pre>
        </section>

				<section id='another' data-bespoke-state="pre-progress clean" class="font">
					<h1>Pipeline</h1>
					<pre data-bespoke-bullet class="font">
						<code data-language="python" class"rainbow">
    base_animation_colours = [[0,0,250],[0,0,225] ... ]
    base_message_interface = BaseMessageInterface()

    class Pipeline:
        def issue_all_off(self):
          ...
        def issue_start_build(self):
          ...
        def issue_all_stages_update(self, colour):
          ...
        def issue_update_segment(self, segment_number, colour):
  	</code>
					</pre>
				</section>

        <section id='very-first' data-bespoke-state="pre-progress clean" class="font">
          <h1>Pipelinez</h1>
          <pre data-bespoke-bullet class="font">
            <code data-language="python" class"rainbow">
      first_pipeline = {
          'OFFSET' : 0,
          'STAGE_WIDTH' : 4,
          'STAGES' : [ 'Prepare', 'Unit Tests' ... ]
      }

      class JenkinsMessageTranslator:
          def __init__(self):
              self.pipelines = [ Pipeline(first_pipeline) ... ]
              self.sound_player = Player()
    </code>
          </pre>
        </section>

        <section id='worker' data-bespoke-state="pre-progress clean" class="font">
          <pre data-bespoke-bullet class="font">
            <code data-language="python" class"rainbow">
      class PollSQSWorker(threading.Thread):
        def __init__(self, local_q):
          threading.Thread.__init__(self)
          self.local_q = local_q
          self.sqs_q = ...[based on env var's]...

        def run(self):
          poll = True
          while poll:
            sleep(1.0)
            job = self.sqs_q.read()
            if job is not None:
              self.local_q.put(job.get_body())
              self.sqs_q.delete_message(job)
              poll = False
    </code>
          </pre>
        </section>

				<section id='moar-codez' data-bespoke-state="pre-progress clean" class="font">
					<pre data-bespoke-bullet class="font">
						<code data-language="python" class"rainbow">
    def main():
        translator = JenkinsMessageTranslator()
        local_q = Queue.Queue()
        PollSQSWorker(local_q).start()
        current_directive = 'all_off'
        while True:
            try:
                translator.issue_directive(current_directive)
                job = local_q.get_nowait() # usually Queue.Empty
                current_directive = job
                local_q.task_done()
                PollSQSWorker(local_q).start()
            except Queue.Empty:
                sleep(0.03) # loop fast enough for animations
    </code>
					</pre>
				</section>

			</article>
		</div>

		<script src="../src/bespoke.js"></script>
		<script src="../src/rainbow.min.js"></script>
		<script src="demo.js"></script>
	</body>
</html>